body {
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: #fff;
}

#canvas {
  width: 90%;
  box-shadow: -3px 2px 9px 6px black;
  cursor: pointer;
}

#draw {
  font-family: "Sulphur Point", sans-serif;
  background-color: rgb(5, 5, 100);
}
#clear {
  background-color: red;
}
#save {
  background-color: green;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  width: 90%;
}
.tools .color-field {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  cursor: pointer;
  /* box-sizing: border-box;
  display: inline-block; */
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 15px;
}

.tools .color-field:hover,
.color-picker:hover {
  transform: scale(1.1);
}
.buttonsAll {
  font-size: smaller;
  width: 50%;
}
.tools .button {
  font-family: "Sulphur Point", sans-serif;
  align-self: center;
  width: 60px;
  font-size: 10px;
  height: 30px;
  border: 2px solid blacks;
  color: white;
  text-shadow: 2px 1px black;
  background-color: royalblue;
  font-weight: bold;
  margin: 0 3px;
  border-radius: 7%;
}
.tools .color-field,
.tools .color-picker {
  margin: 0;
  font-size: 20px;
  width: 40px;
}

.tools .pen-range {
  width: 60px;
}
#buttonRedo {
  background-color: teal;
}

.tools .button:hover {
  transform: scale(1.2);
  color: orange;
}

.color-picker {
  align-self: center;
  margin: 0 15px;
  height: 35px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
}

@media only screen and (max-width: 540px) {
  .tools {
    position: absolute;
    width: 75%;
  }
  .tools .button {
    width: 35px;
    height: 22;
  }
  .tools .color-field {
    width: 10px;
  }
}
